@import "../../../utils/styles.scss";

.view-more-title {
  font-weight: 700;
  font-size: map-get($text-size, h6);
}

.view-more-content-list {
  margin-top: map-get($spacing, xsmall);
  overflow-y: scroll;

  .view-more-items-wrapper {
    padding: map-get($spacing, xsmall) map-get($spacing, small);
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: map-get($color, accent1);
    .view-more-items {
      font-weight: 500;
      font-size: map-get($text-size, body);
    }
  }
}
