@import "../../utils/styles.scss";

.komoditas-card {
  display: flex;
  flex-direction: column;
  gap: map-get($spacing, extratiny);
  padding: map-get($spacing, small);
  border-radius: map-get($spacing, base);
  background-color: map-get($color, light);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: map-get($spacing, $key: small);

  .komoditas-content {
    display: flex;
    justify-content: space-between;
    .komoditas-info {
      .komoditas-title {
        display: flex;
        align-items: center;
        span {
          font-weight: bold;
          font-size: map-get($text-size, h5);
          margin-right: map-get($spacing, extratiny);
        }
      }
      .komoditas-additional-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
        gap: 0 map-get($spacing, tiny);
        .devider {
          width: 1px;
          height: map-get($spacing, xsmall);
          background-color: black;
        }
        .additional-info {
          font-size: map-get($text-size, caption);
        }
      }
    }

    .created span {
      font-size: map-get($text-size, caption);
      color: map-get($color, dark-grey);
    }

    .komoditas-size {
      display: flex;
      align-items: center;
      gap: map-get($spacing, extratiny);
      span {
        color: map-get($color, dark-grey);
        font-size: map-get($text-size, body);
        font-weight: 500;
      }
    }

    .komoditas-price {
      .komoditas-number-price {
        font-size: map-get($text-size, title);
        font-weight: 700;
      }
      .komoditas-measurment {
        color: map-get($color, dark-grey);
        font-size: map-get($text-size, caption);
      }
    }

    @media (max-width: 390px){
      .komoditas-additional-info .additional-info {
          font-size: map-get($text-size, overline) !important;
      }
      .created span {
        font-size: map-get($text-size, overline);
      }
      .komoditas-size span {
        font-size: map-get($text-size, caption);
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: calc(-1 * map-get($default-width, max-mobile)) 0;
  }
  100% {
    background-position: map-get($default-width, max-mobile) 0;
  }
}

.komoditas-skeleton {
  width: 100%;
  height: 110px;
  border-radius: 20px;
  margin-bottom: map-get($spacing, small);

  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #ede9e9 10%, #ded5d5 30%, #ede9e9 50%);
  position: relative;
}
