@import "./utils/styles.scss";

.app {
  width: 100%;
  display: flex;
  justify-content: center;

  .main {
    width: 100%;
    z-index: 1;
    max-width: map-get($default-width, max-mobile);
  }
}
